body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
.container {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  padding: 2em;
  border-radius: 2em;
  box-shadow: 1em 1em 1em darkgray;
}
