body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #415a77;
  color: #0d1b2a;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  gap: 1em;
  width: 50vw;
  transition: 1s;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 15%;
  padding: 1em;
  box-shadow: 0.1em 0.1em 0.3em 0.3em #000814;
  align-items: center;
  background: #e0e1dd;
}

.container a {
  display: inline-block;
  background-color: #415a77;
  text-decoration: none;
  color: #e0e1dd;
  padding: 0.5em 1em;
  transition: 0.5s;
  border-radius: 0.5em;
}
/* I'm gonna leave in all the   */
.container a:hover {
  filter: brightness(75%);
  /* transform: translate(0.3em, 0.3em); */
  /* border-top: 0.5em solid #000814;
  border-left: 0.5em solid #000814; */
  box-shadow: inset 0.3em 0.3em 0 0 #0d1b2a;
  padding-right: 0.7em;
  padding-bottom: 0.2em;
  padding-left: 1.3em;
  padding-top: 0.8em;
  /* margin-bottom: 0.3em;
  margin-right: 0.3em; */
}
input {
  display: none;
}
.btn {
  display: inline-block;
  background-color: #415a77;
  text-decoration: none;
  color: #e0e1dd;
  padding: 0.5em 1em;
  transition: 0.5s;
  border-radius: 0.5em;
  border: none;
}
.btn:hover {
  /* I'm gonna leave in all my experimental stuff to try to make the button "fall" into the page on hover.  */
  filter: brightness(75%);
  /* transform: translate(0.3em, 0.3em); */
  /* border-top: 0.5em solid #000814;
  border-left: 0.5em solid #000814; */
  box-shadow: inset 0.3em 0.2em 0 0 #0d1b2a;
  padding-right: 0.7em;
  padding-bottom: 0.3em;
  padding-left: 1.3em;
  padding-top: 0.7em;
  /* margin-bottom: 0.3em;
  margin-right: 0.3em; */
}
