:root {
  --bgcolor: #415a77;
  --text-color: #0d1b2a;
  --shadow-color: #000814;
  --con-bg-color: #e0e1dd;
  --btn-bg-color: #415a77;
  --btn-text-color: #e0e1dd;
  /* Part of what made me do this, is reading about this pseudoelement :root */
}
/* containers */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--bgcolor);
  color: var(--text-color);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0.5em;
  gap: 1em;
  width: 50vw;
  transition: 1s;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 15%;
  padding: 1em;
  box-shadow: 0.1em 0.1em 0.3em 0.3em var(--shadow-color);
  align-items: center;
  background: var(--con-bg-color);
}
.colorbtncontainer {
  transform: translate(60vw, -90vh);
  color: #0d1b2a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  border: 0.5em solid black;
  width: 15%;
  padding: 1em;
  box-shadow: 0.1em 0.1em 0.3em 0.3em #000814;
  background: #e0e1dd;
  transition: 1s;
}
.colorbtncontainer:hover,
.colorbtncontainer:focus {
  width: 20%;
}
/* Buttons */
input {
  display: none;
}
.btn,
.container a {
  display: inline-block;

  background-color: var(--btn-bg-color);
  text-decoration: none;
  color: var(--btn-text-color);
  padding: 0.5em 1em;
  transition: 0.5s;
  border-radius: 0.5em;
  border: none;
}
/* I needed one container to be constant so it's allways visible (unless you fullscreen the sections) */
.btnconst {
  display: inline-block;
  background-color: #415a77;
  text-decoration: none;
  color: #e0e1dd;
  width: 80%;
  padding: 0.5em 1em;
  font-size: 1.2em;
  font-weight: bold;
  transition: 0.5s;
  border-radius: 0.5em;
  border: none;
}
/* hover effects. */
.btnconst:hover {
  filter: hue-rotate(45deg);
  box-shadow: inset 0.3em 0.2em 0 0 #000814;
  padding-right: 0.7em;
  padding-bottom: 0.3em;
  padding-left: 1.3em;
  padding-top: 0.7em;
}
.btn:hover,
.container a:hover {
  filter: hue-rotate(45deg);
  box-shadow: inset 0.3em 0.2em 0 0 var(--shadow-color);
  padding-right: 0.7em;
  padding-bottom: 0.3em;
  padding-left: 1.3em;
  padding-top: 0.7em;
}
